body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.heder-link{
font-weight: 700;
font-size: 26px;
line-height:1.33;
letter-spacing: 0.03em;
color: #2196F3;
}
:link{
  text-decoration: none;
}
/* main */

.main-header{
  
  font-weight: 900;
font-size: 44px;
line-height: 60px;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

background: #2F303A;
}
.main-btn {
 
font-weight: 700;
font-size: 16px;
line-height: 1.33;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background:#2196F3

}

a::before {
  content: "♥️";
  color: brown;
}
